<table class="ui tablet unstackable table">
	<thead>
		<tr>
		<th>Successful trials (accepted addresses)</th>
		<th class="center aligned">Distributed so far</th>
                <th class="left aligned">Previous Verdicts</th>
		<th class="right aligned">Re-open trial ?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="/citizen/0x733Fa895A5baaC4D774F96D48630E6277CA33351">0x733Fa895A5baaC4D774F96D48630E6277CA33351</a></td>
			<td class="center aligned">47.2 ETH</td>
                        <td class="left aligned">Rejected x0, Accepted x31</td>
			<td class="right aligned">
		          <a href="/citizen/0x733Fa895A5baaC4D774F96D48630E6277CA33351"><button class="ui icon button">
					<i class="random icon"></i>
				</button></a>
			</td>
		</tr>
		<tr>
			<td><a href="/citizen/0x9b3f798284a06818FF9377048AA397719159b689">0x9b3f798284a06818FF9377048AA397719159b689</a></td>
			<td class="center aligned">1.08 ETH</td>
                        <td class="left aligned">Rejected 1, Accepted x4</td>
			<td class="right aligned">
		          <a href="/citizen/0x9b3f798284a06818FF9377048AA397719159b689"><button class="ui icon button">
					<i class="random icon"></i>
				</button></a>
			</td>
		</tr>
	</tbody>
</table>
