<div>
  Thanks to the team of contributors (who own the copyright of this app):
  <ul>
    <li>Jean, maintainer of the project (sig at akasig dot org)</li>
    <li>Mohammed</li>
    <li>Sebastien</li>
    <li>Axel</li>
    <li>
      special thanks to Eugène, our Ethic-minded Science-oriented guest Hacker
    </li>
  </ul>
  More information about this app is available at
  <a href="http://github.com/siggg/culottes">its Github repository</a>. This
  decentralized opensource app is distributed under the GNU Affero General
  Public License version 3.0 (GNU AGPL v.3.0).
</div>
