<div>

  <div class="ui segment">
    {{ web3Status }}
  </div>

  <div class="title" id="criteriaLabel">
    This bastille collects donations which you can receive an income from if and only if you are 
    <strong id="criteria">{{ criteria }}</strong
    >.
  </div>

  <div class="ui segment ethAmount">
    <a routerLink="/donate"
    >Donate to this bastille at {{ revolutionAddress }} on the Ethereum Rinkeby blockchain<br />
      <button routerLink="/donate" class="ui icon button">
        <i class="plus circle icon"></i></button
      ></a>
  </div>
  
  <div class="ui segment ethAmount">
    Current amount in this bastille:<br />
    <div class="left labeled basic label" tabindex="0">
      <a id="balance">
        {{ bastilleBalance }}
      </a> ETH
    </div>
  </div>
  
  <div class="ui segment ethAmount">
    <a routerLink="/citizen"
    >Add or remove {{ criteria }}<br />
      <button class="ui icon button">
        <i class="thumbs up outline icon"></i>
      </button>
    </a>
  </div>
  
  <div style="display:none">
    <div class="ui segment ethAmount">
      Distributed so far
      <div class="ui left labeled button" tabindex="0">
        <a class="ui basic label">
          72.32
        </a> ETH
      </div>
    </div>
  
    <div class="tab">
      <app-closed_trial></app-closed_trial>
    </div>
    <div class="tab">
      <app-open_trial></app-open_trial>
    </div>
  </div>
  
</div>
