<div>
  <div class="title">
    This Bastille collects donations and distributes them to
    <strong id="criteria">{{ criteria }}</strong
    >.
  </div>

  <div class="amounts">
    <div class="ethAmount">
      <div class="ui segment">
        <a routerLink="donate"
          >Donate to this Bastille<br />
          <button routerLink="donate" class="ui icon button">
            <i class="plus circle icon"></i></button
        ></a>
      </div>
      <div class="ui segment">
        Amount of cryptomoney currently in this Bastille:<br />
        <div class="ui left labeled basic label" tabindex="0">
          <a id="balance">
            {{ bastilleBalance }}
          </a>
          ETH
        </div>
      </div>
      <div class="ui segment">
        <a routerLink="citizen"
          >Add new {{ criteria }} to this Bastille<br />
          <button class="ui icon button">
            <i class="thumbs up outline icon"></i></button
        ></a>
      </div>
    </div>
    <div class="ethAmount" style="display:none">
      <div class="ui segment">
        Distributed so far
        <div class="ui left labeled button" tabindex="0">
          <a class="ui basic label">
            72.32
          </a>
          <div class="ui icon button">
            ETH
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab">
    <app-closed_trial></app-closed_trial>
  </div>
  <div class="tab">
    <app-open_trial></app-open_trial>
  </div>
</div>
