<form class="ui form" name="citizen">

 <div class="field">
  <label>Address you are voting about</label>
  <input [(ngModel)]="address" name="address" type="text" placeholder="Enter address (should start with 0x)" />
 </div>

 <div class="field">
  <label>Amount of ether you are staking on this vote</label>
  <div class="ui right labeled input">
   <input [(ngModel)]="amount" type="number" placeholder="Enter amount" />
   <div class="ui label">ETH</div>
  </div>
  <div class="ui action input mini">
   <div class="ui basic label">= {{ convertToFiat(amount) }}</div>
   <select (change)="onChange($event)" class="ui basic mini floating dropdown">
    <option value="EUR" [selected]="currency() == 'EUR'">€</option>
    <option value="USD" [selected]="currency() == 'USD'">$</option>
    <option [selected]="currency() == 'AUD'">AUD</option>
    <option [selected]="currency() == 'CAD'">CAD</option>
    <option [selected]="currency() == 'CNY'">CNY</option>
    <option value="GBP" [selected]="currency() == 'GBP'">£</option>
    <option value="JPY" [selected]="currency() == 'JPY'">¥</option>
   </select>
  </div>
  
  <div *ngIf="isOk">
    <div class="error message">
      <div class="header">Forbidden value</div>
      <p>Should not be empty. Should only contain a number or a valid Ethereum address.</p>
    </div>
  </div>
 </div>

 <div class="ui icon">
  <i class="icon balance scale"></i>
  <label>Please cast your vote and bet: does the address above belong to <strong>{{ criteria }}</strong> ? And is this their unique address for this bastille ?</label>
  
  <div class="ui buttons">
    <div class="ui button positive secondary icon labeled" (click)="onClickMeT()"><i class="icon thumbs up"></i>YES</div>
    <div class="ui or icon"><i class="icon balance scale"></i></div>
    <div class="ui button negative primary icon right labeled" (click)="onClickMeF()">NO<i class="icon thumbs down"></i></div>
  </div>
 </div>
  
  <div class="results"></div>
</form>
