<div>
  <div class="title">Does the address below belong to <strong>{{ criteria }}</strong> ? And is this their unique address for this bastille ?</div>
</div>

<form class="ui form">
  <div class="field fluid input">
    <label>Address you are voting about</label>
    <input [(ngModel)]="address" type="text" placeholder="0x00" />
  </div>
  <div class="field fluid input">
    <label>Amount of ETH you are staking on this vote</label>
    <input [(ngModel)]="amount" type="text" placeholder="0,0" />
  </div>
  
  <div *ngIf="isOk">
    <div class="error message">
      <div class="header">Forbidden value</div>
      <p>Should not be empty. Should only contain a number or a valid Ethereum address.</p>
    </div>
  </div>
  
  <div class="ui buttons">
    <div class="ui button positive secondary icon labeled" (click)="onClickMeT()"><i class="icon thumbs up"></i>YES</div>
    <div class="or"></div>
    <div class="ui button negative primary icon labeled"  (click)="onClickMeF()"><i class="icon thumbs down"></i>NO</div>
  </div>
  
  <div class="results"></div>
</form>
