@media print {
  @page {
    size:A4;
    margin: 2cm
  }
  html, body {
    width: 210mm;
    height: 297mm;
  }
}
@media print {
 .mobile-navbar {
   display: none;
 }
 .mobile-menu {
   display: none;
 }
 .header {
   display: none;
 }
 .ribbon {
   display: none;
 }
 .utterances {
   display: none;
 }
 .social-links {
   display: none;
 }
 .back-to-top i {
   display: none;
 }
}
@media print {
 img {
   max-width: 6cm;
   max-height: 6cm;
 }
}
@media print {
  table {
    width: 100%;
    margin: 2mm;
    padding: 3mm;
    border: 2mm solid #eee;
    border-left: 3mm solid #eee;
    border-collapse: separate;
    border-spacing: 0 1mm;
  }
  th {
    text-align: left;
    border-bottom: 1mm solid #888;
    color: #888;
  }
  td {
    border-bottom: 0.5mm solid #eee;
    padding: 0.1mm 0.8mm;
    font-size: 3.2mm;
  }
}
@media print {
  h1 {
      page-break-before: always;
      page-break-after: avoid;
  }
  h1:first-of-type {
      page-break-before: auto;
  }
  h2, h3, h4 {
      page-break-after: avoid;
  }
}
@media print {
  .rotate-next+table, .rotate-next~.box {
    width: auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-right: 0;
    margin-left: auto;
    transform: rotate(90deg); 
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
}