<table class="ui tablet unstackable table">
	<thead>
		<tr>
		<th>Accepted</th>
		<th>Total income</th>
		<th>Begin date</th>
		<th class="right aligned">Re-Engage election ?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0.42...</td>
			<td>472 ETH</td>
			<td>24/07</td>
			<td class="right aligned">
				<button class="ui icon button">
					<i class="cloud icon"></i>
				</button>
			</td>
		</tr>
		<tr>
			<td>0x21..</td>
			<td>1 ETH</td>
			<td>24/10</td>
			<td class="right aligned">
				<button class="ui icon button">
					<i class="cloud icon"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>