<table class="ui tablet unstackable table">
	<thead>
		<tr>
		<th>Successful elections (accepted addresses)</th>
		<th class="center aligned">Distributed so far</th>
		<th class="right aligned">Re-open election ?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0x733Fa895A5baaC4D774F96D48630E6277CA33351</td>
			<td class="center aligned">472 ETH</td>
			<td class="right aligned">
				<button class="ui icon button">
					<i class="random icon"></i>
				</button>
			</td>
		</tr>
		<tr>
			<td>0x9b3f798284a06818FF9377048AA397719159b689</td>
			<td class="center aligned">1 ETH</td>
			<td class="right aligned">
				<button class="ui icon button">
					<i class="random icon"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
