<div class="ui raised segment mainbox ">
  <div class="ui secondary menu">
    <div class="left item">
      <img
       src="assets/logo/Bonnet_Phrygien.png"
       class="logo"
       routerLink="/revolution"
      />
    </div>
    <a class="item" routerLink="/revolution" style="display: none"
      >Your revolution</a
    >
    <div class="center item">
      <a href="https://www.youtube.com/watch?v=yZBNfpnjqVM" target="_blank">
       <button class="ui youtube button">
        <i class="play icon"></i> Intro
       </button>
      </a>
      <!-- a i18n="about link|Hyperlink to the about section" class="item" routerLink="/about">About</a-->
    </div>
    <div class="right item">
      <a class="ui red right ribbon label" routerLink="/factory">
        <i class="copy outline icon"></i><ng-container i18n="fork link|Hyperlink to the forking factory@@forkLink">Create a new revolution</ng-container>
      </a>
      <!-- ul>
       <li *ngFor="let language of languageList">
        <a href="/{{language.code}}/">
         {{language.label}}
        </a>
       </li>
      </ul-->
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="ui secondary menu">
   <a i18n="about link|Hyperlink to the about section" class="item" routerLink="/about">About this project</a>
  </div>
 </div>
