<div>
  <div class="title">Would you support "{{ criteria }}" ?</div>
</div>

<div class="fields">
  <div class="ui fluid icon input">
    <input [(ngModel)]="address" type="text" placeholder="0.x424242424242" />
    <div class="ui button">Address</div>
  </div>
  <div class="ui fluid input">
    <input [(ngModel)]="amount" type="text" placeholder="3,2" />
    <div class="ui button">Bet Some ETH</div>
  </div>
</div>

<div class="criteria">
  <div *ngIf="isOk">
    <div
      class="ui red inverted segment center aligned"
      style="margin-top: 15px"
    >
      Should not be empty / Should contain only (numbers || address)
    </div>
  </div>
  <div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <i class="thumbs up icon"></i>
          </div>
          <div class="field">
            <div class="ui search">
              <div class="ui icon input">
                <button (click)="onClickMeT()" class="ui primary button">
                  Vote For
                </button>
              </div>
              <div class="results"></div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="ui icon header">
            <i class="thumbs down icon"></i>
          </div>
          <div class="field">
            <div class="ui search">
              <div class="ui icon input">
                <button (click)="onClickMeF()" class="ui primary button">
                  Vote Against
                </button>
              </div>
              <div class="results"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
