<div>
	<div class="title">
			Are you "{{ purpose }}" ?
	</div>
	<div class="purpose" style="display:none">
		{{ purpose }}
	</div>
	
	<div class="amounts">
		<div class="ethAmount">
			<div class="ui segment">	
			Pool to be distributed
				<div class="ui left labeled button" tabindex="0">
					<a class="ui basic label">
						{{ cashierBalance }}
					</a>
					<div class="ui icon button">
						ETH
					</div>
				</div>
			</div>
		</div>
		<div class="ethAmount" style="display:none">
			<div class="ui segment">
				Distributed so far
				<div class="ui left labeled button" tabindex="0">
					<a class="ui basic label">
						72.32
					</a>
					<div class="ui icon button">
						ETH
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tab">
		<app-completedelection></app-completedelection>
	</div>
	<div class="tab">
		<app-openelection></app-openelection>
	</div>
</div>



