<div>

 <div class="criteria">
  Donate to this bastille by sending ETH to this address :<br />
    {{ address }}<br />
 </div>
 
 <div class="ui right labeled input">
  <input [(ngModel)]="amount" type="number" placeholder="Enter amount" />
  <div class="ui label">ETH</div>
 <div/>
 
 <div class="ui action input mini">
  <div class="ui basic label">= {{ convertToFiat(amount) }}</div>
  <select (change)="onChange($event)" class="ui floating dropdown">
   <option value="EUR">€</option>
   <option value="USD">$</option>
   <option>AUD</option>
   <option>CAD</option>
   <option>CNY</option>
   <option value="GBP">£</option>
   <option value="JPY">¥</option>
  </select>
 </div>

  <div *ngIf="isOk">
    <div
      class="ui red inverted segment center aligned"
      style="margin-top: 15px"
    >
      Should not be empty / Should contain only numbers
    </div>
  </div>

 <button (click)="onClickMe()" class="ui primary button">
  <i class="heart icon"></i> Donate
 </button>
 
 <div class="results"></div>

</div>
