<div>	
		<div class="purpose">
			You can only receive income from this Culottes pool if you are {{ purpose }}.
		</div>
		<div class="purpose">
			You can donate to this pool by sending ETH to this address :<br/>
			{{ address }}
		</div>
	
		<div class="purpose">
			<div class="ui left icon input">
				<input [(ngModel)]="amount" type="number" placeholder="20">
			</div>
		</div>
		

		
		<div  *ngIf="isOk" >
			<div class="ui red inverted segment center aligned" style="margin-top: 15px">
					Should not be empty / Should contain only numbers
			</div>
		</div>


		<div class="purpose">
				<div class="field">
				  <div class="ui search">
					<div class="ui icon input">
					  <button  (click)="onClickMe()" class="ui primary button">
						  DONATE !
						</button>
					</div>
					<div class="results"></div>
				  </div>
				</div>
			  </div>
			</div>

		
		


