<div>
  <div class="criteria">
    You can donate to this bastille by sending ETH to this address :<br />
    {{ address }}
  </div>
  <div class="criteria">
    <div class="ui left icon input">
      <input [(ngModel)]="amount" type="number" placeholder="10" /> ETH <br />( {{ amountInFiat }}
   <select (change)="onChange($event)" class="ui fiat dropdown">
    <option value="EUR">€</option>
    <option value="USD">$</option>
    <option>AUD</option>
    <option>CAD</option>
    <option>CNY</option>
    <option value="GBP">£</option>
    <option value="JPY">¥</option>
   </select> )
    </div>
  </div>
  <div *ngIf="isOk">
    <div
      class="ui red inverted segment center aligned"
      style="margin-top: 15px"
    >
      Should not be empty / Should contain only numbers
    </div>
  </div>
  <div class="criteria">
    <div class="field">
      <div class="ui search">
        <div class="ui icon input">
          <button (click)="onClickMe()" class="ui primary button">
            DONATE !
          </button>
        </div>
        <div class="results"></div>
      </div>
    </div>
  </div>
</div>
