
	<table class="ui tablet unstackable table">
			<thead>
				<tr>
					<th>Pending</th>
					<th>For</th>
					<th>Against</th>
					<th>Past Verdict</th>
					<th class="right aligned">Exprime yourself !</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>0x47...</td>
					<td>0.02 ETH</td>
					<td>4 ETH</td>
					<td>Rejected</td>
					<td class="right aligned">
						<button class="ui icon button">
							<i class="right arrow icon"></i>
						</button>
					</td>
				</tr>
				<tr>
					<td>0x72...</td>
					<td>0.4 ETH</td>
					<td>0 ETH</td>
					<td>Accepted</td>
					<td class="right aligned">
						<button class="ui icon button">
							<i class="right arrow icon"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>