
	<table class="ui tablet unstackable table">
			<thead>
				<tr>
					<th>Pending elections</th>
					<th>Votes For</th>
					<th>Votes Against</th>
					<th>Previous verdicts</th>
					<th class="right aligned">Your vote</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/candidate/0xc2467ac1D5e60ef3a70E9E69c83724d3Ff634050">0xc2467ac1D5e60ef3a70E9E69c83724d3Ff634050</a></td>
					<td>0.02 ETH</td>
					<td>4 ETH</td>
					<td>Rejected x2, Accepted x0</td>
					<td class="right aligned">
				          <a href=""><button class="ui icon button">
							<i class="right arrow icon"></i>
						</button></a>
					</td>
				</tr>
				<tr>
					<td><a href="/candidate/0x083fc10cE7e97CaFBaE0fE332a9c4384c5f54E45">0x083fc10cE7e97CaFBaE0fE332a9c4384c5f54E45</a></td>
					<td>0.4 ETH</td>
					<td>0 ETH</td>
					<td>Rejected x1, Accepted x1</td>
					<td class="right aligned">
					  <a href=""><button class="ui icon button">
							<i class="right arrow icon"></i>
						</button></a>
					</td>
				</tr>
                                <tr tmp_ng-repeat="candidate in candidates">
                                        <td><a href="/candidate/{{candidate.address}}">{{candidate.address}}</a></td>
                                        <td>{{candidate.pros}} ETH</td>
                                        <td>{{candidate.cons}} ETH</td>
                                        <td>Rejected x?, Accepted x?</td>
                                        <td class="right aligned">
                                          <a href="/candidate/{{candidate.address}}"><button class="ui icon button">
                                                        <i class="right arrow icon"></i>
                                                </button></a>
                                        </td>
                                </tr>

			</tbody>
		</table>
